*{
    margin: 0;
    padding: 0;
    font-family:'Poppins-Bold', 'Poppins', sans-serif;
}
.body{
    height: 100vh;
    width: 100%;

    overflow: hidden;
}
.nav{
    height: 120px;
    width: 100%;
    box-shadow: 0px 3px 59px #12b29529;
    background-color: rgb(251, 251, 251);
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px ;
    margin-right: 10px;
 
}
.nav ul{
    position: absolute;
    right: 100px;
    top: 8%;
}
.nav ul li a{
    text-decoration: none;
    height:10;
    width: 10;
    color: black;
    font:500px ;
}
.logo{
    position: absolute;
    left: 270px;
    top:25px;
    font-size: 30px;
    font-weight: 900px;
    color: rgb(63, 158, 158);
}
.nav ul li a:hover{
    color: rgb(63, 158, 158);
    text-decoration: underline;
}
.names{
    position: absolute;
    left: 270px;
    top: 40%;
    color: rgb(46, 225, 225);
}

.names h3 span{
    color: orangered;
}
.names h1{
    color: rgb(63, 158, 158);
    padding-top: 20px ;
    padding-bottom: 20px ;
    font-weight: bolder;
}
.names h6{
    color: black;
}
.buttons{
    position: absolute;
    left: 270px; 
    bottom: 32%;
}
.buttons button{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    border: none;
    color: white;
    margin-right: 20px;
}
.buttons button:hover{
    cursor: pointer;
}
.H{
    background-color: rgb(34, 229, 229);
    box-shadow: 0px 12px 24px #0BBEAD69;;
    
}
.G{
    background-color: orangered;
    box-shadow: 0px 12px 24px rgb(240, 165, 138);
}
.image1{
    position: absolute;
    bottom: 0%;
    margin-bottom: -7px;
}
.boy{
    height: 430px;
    width: 430px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 22%;
    box-shadow: 0px 3px 59px #0284ab29;
}
.man{
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    opacity:1 ;
}






.aboutus
{
    height: 100vh;
    width: 100%;
    box-shadow: 0px 3px 59px #12b29529;
    position: relative;
}
.ab{
    display: flex;
    align-items:center;
    justify-content: center;
}
.ab h1{
    font-weight: 900;
    font-family: sans-serif;
    color: #0ABEAD;
    position: absolute;
    top: 6%;
    font-size: 60px;
}
.ab h3{
    color: #0ABEAD;
    position: absolute;
    top: 17%;
    font-size: 20px;
    word-spacing: 10pxpx;
}
.ab hr{
    width: 320px;
    color:#0ABEAD;
    position: absolute;
    top: 23%;
}
.ab .rect{
    height: 10px;
    width: 40px;
    border-radius: 20px;
    background-color: #0ABEAD;
    position: absolute;
    top: 22.5%;
    z-index: 1;
}
.aboutus .box{
    height: 450px;
    width: 900px;
    background-color: whitesmoke;
    position: absolute;
    top: 34%;
    left: 21%;
    display: flex;
    box-shadow: 0px 0px 59px #60E9FF45;

}
.image img{
    height: 450px;
    width: 450px;
}
.aboutus .text{
    width: 450px;
}
.text .a{
    width: 50px;
    position: absolute;
    margin-top: 25px;
}
.text h2{
    margin-top: 10px;
    margin-left: 58px;
}
.text .b{
    width: 50px;
    position: absolute;
    margin-top: 65px;
}
.text p{
    margin-left: 58px;
    margin-top: 5px;
    width: 400px;
}
.text .c{
    width: 56px;
    position: absolute;
    margin-top: 135px;
    right: 0;
}
.text .d{
    width:0.01px;
    height: 20px;
    position: absolute;
    margin-left:190px;
}
.text .e{
    width:0.01px;
    height: 20px;
    position: absolute;
    margin-left:210px;
    margin-top: 40px;  
}
.text h3{
    color: #0ABEAD;
    margin-left: 58px;
    padding: 10px 0;

}
.text .round{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orangered;
    margin-left: 62px;
}
.text h4{
    margin-bottom: 20px;
    margin-left: 82PX;
    margin-top: -22PX;
}
.button{
    position: absolute;
    bottom: 30px;
    left: 510px;
}
.button button{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    border: none;
    color: white;
    margin-right: 20px;
}
.button button:hover{
    cursor: pointer;
}
.H{
    background-color: rgb(34, 229, 229);
    box-shadow: 0px 12px 24px #0BBEAD69;;
    
}
.G{
    background-color: orangered;
    box-shadow: 0px 12px 24px rgb(240, 165, 138);
}






.services
{
    height: 100vh;
    width: 100%;
   
    position: relative;
}
.services .text{
    display: flex;
    align-items:center;
    justify-content: center;
}
.services .text h1{
    font-weight: 900;
    font-family: sans-serif;
    color: #0ABEAD;
    position: absolute;
    top: 4%;
    font-size: 60px;
}
.services .text h3{
    color: #0ABEAD;
    position: absolute;
    top: 14%;
    font-size: 20px;
    word-spacing: 10pxpx;
    margin-right: 50px;
}
.services .text hr{
    width: 320px;
    color:#0ABEAD;
    position: absolute;
    top: 20%;
}
.services .text .rect{
    height: 10px;
    width: 40px;
    border-radius: 20px;
    background-color: #0ABEAD;
    position: absolute;
    top: 19.5%;
    z-index: 1;
}
.services .colo{
    display: flex;
    position: absolute;
    left: 22.5%;
    top: 23%;
}
.services .colo .box{
    height:260px;
    width: 260px;
    background-color: #0ABEAD;
    margin: 10px 10px;
}
.services .colo .one{
    background-color: #8540FF;
}
.services .colo .one img{
   width:260px;
    margin-top: 100px;
}
.services .colo .two{
    background-color: #FFC50C;
}
.services .colo .two img{
   width:260px;
    margin-top: 100px;
}
.services .colo .three{
    background-color: #EC407A;
}
.services .colo .three img{
   width:260px;
    margin-top: 100px;
}
.services .colo .four{
    background-color: #FF6331;
}
.services .colo .four img{
   width:260px;
    margin-top: 100px;
}
.services .colo .five{
    background-color: #13B6FF;
}
.services .colo .five img{
   width:260px;
    margin-top: 100px;
}
.services .colo .six{
    background-color: #49AF46;
}
.services .colo .six img{
   width:260px;
    margin-top: 100px;
}
.services .colo .one .mat img{
    height: 50px;
    position: absolute;
    top: -20px;
}
.services .colo .two .mat img{
    height: 50px;
    position: absolute;
    top: -20px;
    left: 34%;
}
.services .colo .three .mat img{
    height: 50px;
    position: absolute;
    top: -20px;
    left: 68%;
}
.services .colo .four .mat img{
    height: 50px;
    position: absolute;
    top: 45%;
    left: 1%;
}
.services .colo .five .mat img{
    height: 50px;
    position: absolute;
    top: 45%;
    left: 35%;
}
.services .colo .six .mat img{
    height: 54px;
    position: absolute;
    top: 44%;
    left: 68%;
}
.services .colo .one .mat h2{
    position: absolute;
    top: 26%;
    left: 8%;
}
.services .colo .one .mat h5{
    position: absolute;
    top: 33%;
    width: 150px;
    text-align: center;
    left: 8%;
}
.services .colo .two .mat h2{
    position: absolute;
    top: 26%;
    left: 38%;
}
.services .colo .two .mat h5{
    position: absolute;
    top: 33%;
    width: 150px;
    text-align: center;
    left: 41%;
}
.services .colo .three .mat h2{
    position: absolute;
    top: 26%;
    left: 70%;
}
.services .colo .three .mat h5{
    position: absolute;
    top: 33%;
    width: 150px;
    text-align: center;
    left: 74%;
}
.services .colo .four .mat h2{
    position: absolute;
    top: 74%;
    left: 9.5%;
}
.services .colo .four .mat h5{
    position: absolute;
    top: 81%;
    width: 150px;
    text-align: center;
    left: 8%;
}
.services .colo .five .mat h2{
    position: absolute;
    top: 74%;
    left: 39%;
}
.services .colo .five .mat h5{
    position: absolute;
    top: 81%;
    width: 150px;
    text-align: center;
    left: 41%;
}
.services .colo .six .mat h2{
    position: absolute;
    top: 74%;
    left: 74%;
}
.services .colo .six .mat h5{
    position: absolute;
    top: 81%;
    width: 150px;
    text-align: center;
    left: 74.5%;
}
.services .colo .box .mat h5,h2{
    color: white;
}






.resume{
    height: 100vh;
    width: 100%;
    position: relative;
    filter: drop-shadow(0px 0px 81px #13B6FF3D);
}
.resume .parallelogram{
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 28%, 100% 7%, 100% 80%, 0 100%);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #13B6FF3D;
}
.resume .parallelogram .text{
    display: flex;
    align-items:center;
    justify-content: center;
}
.resume .parallelogram .text h1{
    font-weight: 900;
    font-family: sans-serif;
    color: #0ABEAD;
    position: absolute;
    top: 22%;
    font-size: 40px;
}
.resume .parallelogram .text h3{
    color: #0ABEAD;
    position: absolute;
    top: 28%;
    font-size: 13px;
    word-spacing: 5px;
    margin-right: 50px;
}
.resume .parallelogram .text hr{
    width: 320px;
    color:#0ABEAD;
    position: absolute;
    top: 33%;
}
.resume .parallelogram .text .rect{
    height: 10px;
    width: 40px;
    border-radius: 20px;
    background-color: #0ABEAD;
    position: absolute;
    top: 32.5%;
    z-index: 1;
}